@import './index.css';

.container{
  font-size: 2rem;
}

.box{
  background-color: var(--accentPurple);
}

.box2{
  background-color: var(--accentTeal);
}

.box3{
  background-color: var(--secondaryBG);
}